<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
      <h1>Header</h1>

<body>
      <h2>Header 1</h2>
      <p>My first paragraph</p>
      <p>My second paragraph</p>

      <p>It is <em>emphesizing first </em></p>
</body>
      <h2>Header 2</h2>
      <p>It is <em>emphesizing last  </em></p>

      <p> This is the courses <strong> unorderd  </strong></p>
      <ul>
          <li> This is the first course</li>
          <li> This is the second course</li>
          <li> This is the third course</li>
      </ul>
      <p> This is the courses <strong> ordered  </strong></p>
      <ol>
        <li>This is the first course</li>
          <li>This is the second course</li>
          <li>This is the third course</li>
      </ol>
 <!-- getting course list and semester taken -->
      <table>
          <tr>
              <th>Courses</th>
              <th> Semester taken</th>
          </tr>
          <tr>
              <td> BMGT402</td>
              <td>2022</td>
          </tr>
          <tr>
            <td> BMGT302</td>
              <td>2022</td>
          </tr>
          <tr>
            <td> INST462</td>
              <td>2023</td>
          </tr>
          <!-- link to websites -->
      </table>
      <p>A link to <a href = "http://127.0.0.1:5000/hello"> hello</a> </p>
       <p>A link to my  <a href = "https://github.com/danezechias"> github </a> </p>
       <p>A link to <a href = "https://www.rhsmith.umd.edu/"> RHSmith</a> </p>
<!-- adding link to the smith logo -->
       <p> Here is a Smith logo</p>
       <img src = 'https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png' width = "267" height = "72"/>

</html>